<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-accordion-group>
      <ion-accordion *ngFor="let character of characters" [value]="character.id">
        <ion-item slot="header" color="light">
          <ion-label>{{ character.name }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>Raza: {{ character.race }}</p>
          <p>Género: {{ character.gender }}</p>
          <p>{{ character.bio }}</p>
          <p>Salud: {{ character.health }}</p>
          <p>Ataque: {{ character.attack }}</p>
          <p>Defensa: {{ character.defense }}</p>
          <p>Velocidad de restauración de ki: {{ character.kiRestoreSpeed }}</p>
          <p>Habilidades:</p>
          <ul>
            <li *ngFor="let ability of character.abilities">{{ ability }}</li>
          </ul>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
s  
  
  

</ion-content>
